$primary: #73dce7;
$secondary: #404040;

body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: $secondary;
    font-family: 'Cormorant Garamond', serif;
}

.resume{
    display: flex;
}

i{
    padding-right: 10px;
    color: $primary;
}
.aside{
    width: 35%;
    padding-top: 35px;
    background-color: $primary;
    display: flex;
    flex-direction: column;
    align-items: center;
    .portrait {
        border-radius: 50%;
        height: 150px;
        border: 3px solid $primary;
    }
    .title {
        display: flex;
        justify-content: center;
        padding-top: 5px;
        padding-bottom: 5px;
        width: 35vw;
        color: $primary;
        background-color: $secondary;
        font-size: 120;
        font-weight: lighter;
    }
    .contactBlock{
        padding-left: 30px;
        .contactData{
            margin-bottom: 0px;
            padding-top: 20px;
        }
        .contact{
            padding-bottom: 0px;
            margin: 0px;
        }
    }
    .about {
        padding-left: 30px;
        padding-right: 30px;
        text-align: justify;
        text-justify: inter-word;
    }
    .hobbiesBlock {
        .hobbies {
            display: flex;
            gap: 35px;
            list-style: none;
            justify-content: space-around;
            padding: 10px;
            align-items: center;
            text-align: center;
        }

        li {
            height: 50px;
            width: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .icons {
            padding: 5px;
            border-radius: 50%;
            border: solid 1px;
        }
    }
}



.main{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin-left: 3em;
    span{
        color: $primary;
    }
    .sub{
        color: $secondary;
        text-decoration: underline $primary solid 3px;
    }

    .subdiv{
        width: 100%;
        .subdivTitle{
            margin-right: 3em;
            border-bottom: solid 2px $primary;
        }
        .subdivContent{
            display: flex;
            flex-direction: column;
            gap: 30px;
        }
    }
    .line{
        display: flex;
    }
    .dateLocation{
        width: 41%;
        display: flex;
        flex-direction: column;
    }
    .date, .location{
        margin: 0;
        padding: 0;
    }
    .xp{
        width: 59%;
        margin-right: 4em;
    }
    .firm, .jobTitle, .jobDesc{
        margin: 0;
        padding: 0;
    }
    .firm{
        font-weight: bold;
    }
    .jobTitle, .jobDesc{
        padding-top: 5px;
    }
    .jobTitle{
        font-weight: 200;
    }
    .jobDesc{
        text-align: justify;
        line-height: 1;
    }
    .refs{
        display: flex;
        justify-content: space-between;
        margin-right: 4em;
        gap: 20px;
        h5, .position, .tel, .email{
            margin: 0;
            padding: 0;
        }
        h5{
            text-transform: uppercase;
        }
    }
}